<!doctype html>
<html lang="pt-BR">

<head>
    <link rel="icon" href="img/jacare.svg">
    <meta charset="utf-8">
    <meta name="description" content="Confraternização das Mocidades Espiritas de Jacarepagua">
    <meta name="keywords" content="">
    <link rel="icon" href="https://www.comejaca.org.br/img/jacare.svg">
    <link rel="stylesheet" href="https://www.comejaca.org.br/styles/print.css">
    <link rel="stylesheet" href="https://www.comejaca.org.br/styles/mobile.css">
    <link rel="stylesheet" href="/styles/print.css">
</head>
<div class="wrapper">


    <header class="title">
        <!--         <div class="logo">
            <img src="img/jacare.svg" alt="Oi! eu sou o Jacaré">
        </div> -->
        <div class="nome">
            <h1>XLIII COMEJACA 2022 </h1>
            <span>Confraternização das Mocidades Espíritas de Jacarepaguá</span>
            <span class="tema"># DIVERSIDADE</span>
        </div>

    </header>

    </header>
    <div class="informacao">
        <div class="container">Valor da inscrição:</div>



        <div class="container"> Confraternistas e Trabalhadores:<br>
            R$ 40,00 <br>
            Pequeno companheiro: R$ 25,00
        </div>

        <div class="container">
            Camisa do evento:
        </div>

        <div class="container">
            Adultos Crianças: R$ 28,00 <br><br>
            <b>Numero: {{ number_id }}</b>
        </div>
    </div>

    <form class="form" onsubmit="submitForm(event)">

        <!-- dados  pessoais -->
        <div class="title">

            <p>DADOS PESSOAIS</p>

        </div>

        <div class="steps">



            <div class="inputfield">
                <label for="nome">Nome Completo:
                </label>
                <input type="text" disabled value="{{nome_completo}}" name="nomecompleto">
            </div>


            <div class="inputfield">
                <label for="nome_cracha">Nome no cracha:</label>
                <input type="text" disabled value="{{nome_cracha}}" name="nome_cracha">
            </div>


            <div class="inputfield">
                <label for="email">E-mail:</label>
                <input type="email" disabled placeholder="" value="{{email}}" name="email">
            </div>

            <div class="inputfield">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input disabled name="data_nascimento" value="{{data_nascimento}}" maxlength="10">
            </div>

            <div class="inputfield">
                <label for="idade">Idade (30/07/2022):</label>
                <input type="number" name="idade" value="{{idade}}" onload="" disabled>
            </div>

            <div class="inputfield">
                <label>Sexo:</label>
                <input type="text" id="nome_cracha" value="{{sexo}}" disabled name="sexo">
            </div>

            <div class="inputfield">
                <label>Genero:</label>
                <input type="text" id="nome_cracha" value="{{genero}}" disabled name="genero">
            </div>


            <div class="inputfield" id="tel">
                <label>Telefone:</label>
                <input type="tel" disabled value="{{telefone}}" name="telefone">
            </div>

        </div>

        <!-- endereco -->
        <div class="title">

            <p>ENDEREÇO</p>

        </div>
        <div class="steps">


            <div class="inputfield">
                <label for="CEP">CEP:</label>
                <input type="text" disabled id="cep" name="CEP" value="{{cep}}">
            </div>

            <div class="inputfield">
                <label for="endereco">Endereço:</label>
                <input type="text" disabled id="endereco" name="endereco" value="{{endereco}}" disabled>
            </div>

            <div class="inputfield">
                <label for="estado">Estado:</label>
                <input type="text" disabled id="estado" name="estado" value="{{estado}}" disabled>
            </div>

            <div class="inputfield">
                <label for="cidade">Cidade:</label>
                <input type="text" disabled id="cidade" value="{{cidade}}" name="cidade" disabled>
            </div>


            <div class="inputfield">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" disabled value="{{bairro}}" name="bairro" disabled>
            </div>

            <div class="inputfield">
                <label for="numero">Numero:</label>
                <input type="text" id="numero" value="{{numero}}" disabled name="numero">
            </div>

            <div class="inputfield">
                <label for="numero">Complemento:</label>
                <input type="text" id="numero" name="numero" value="{{complemento}}" disabled>
            </div>
        </div>

        <!-- dados para o evento -->

        <p>DADOS PARA O EVENTO</p>


        <div class="steps">

            <div class="inputfield">
                <label>Tipo de partipação:</label>
                <input type="text" id="nome_cracha" disabled value="{{tipo}}" name="comissao">
            </div>
            <div class="tarefas" style="display: grid; grid-template-columns: 1fr 1fr;">

                <div class="inputfield">
                    <label for="tshitnum">GFE:</label>
                    <input type="text" value="{{gfe}}" id="nome_cracha" style="max-width: 50%;" disabled
                        name="comissao">
                </div>

                <div class="inputfield">
                    <label for="tshitnum">Comissão:</label>
                    <input type="text" id="nome_cracha" style="max-width: 50%;" value="{{comissao}}" disabled
                        name="comissao">
                </div>
            </div>

            <div class="inputfield">

                <label for="tshitnum">Deseja camisa?</label>

                <input type="text" disabled id="nome_cracha" value="{{incluir_camisa}}" name="camisa">
            </div>

            <div class="inputfield">
                <label>Tamanho da camisa:</label>
                <input type="text" class="input" id="nome_cracha" disabled name="tamanho_camisa"
                    value="{{tamanho_camisa}}">
            </div>
        </div>

        <!-- outras informações -->
        <div class="title">

            <p>OUTRAS INFORMAÇÕES</p>

        </div>
        <div class="steps">

            {{#each questionario}}
                <div class="inputfield">
                    <label>{{this.nome}}</label>
                    <input type="text" class="input" id="nome_cracha" disabled name="comejacas" value={{this.resposta}}>
                </div>

                <div>
                    {{#if this.quantas}}
                        <label>Quantas ?</label>

                        <input type="text" name="quantas" disabled id="numeroComejacas" disabled class="input"
                            value={{this.quantas}}>
                    {{/if}}
                    {{#if this.quais}}
                        <label>Quais ?</label>

                        <input type="text" name="quais" disabled id="numeroComejacas" disabled class="input"
                            value={{this.quais}}>
                    {{/if}}
                    {{#if this.telefone_convenio}}
                        <label>telefone_convenio ?</label>

                        <input type="text" name="telefone_convenio" disabled id="numeroComejacas" disabled class="input"
                            value={{this.telefone_convenio}}>
                    {{/if}}

                </div>
            {{/each}}
        </div>


        <!-- dados da casa espirita -->


        <p>DADOS DA INSTITUÍÇÃO ESPIRITA</p>


        <div class=" steps">


            <div class="inputfield">
                <label>Nome:</label>
                <input type="text" id="instituicao_espirita" name="instituicao_espirita" list="datalist"
                    value="{{nome_instituicao}}">

            </div>
            <div class="inputfield">
                <label>Endereço:</label>
                <input name="endereco_c" id="endereco_espirita" type="TEXT" class="input"
                    value="{{endereco_instituicao}}">
            </div>
            <div class="inputfield">

                <label for="bairro_espirita">Bairro:</label>
                <input name="bairro_c" id="bairro_espirita" class="input" min="1922-01-01" max="3022-01-01"
                    value="{{bairro_instituicao}}">

            </div>

            <div class="inputfield">
                <label>Cidade:</label>
                <input name="cidade_c" value="{{cidade_instituicao}}" type="text" disabled>
            </div>

            <div class="inputfield">
                <label>CEP:</label>
                <input value="{{cep_instituicao}}" name="cep_centro" disabled type="text">
            </div>

            <div class="inputfield">
                <label> Tempo de instituição:</label>
                <input name="tempo_instituicao" type="number" class="input" min="1" max="100"
                    value="{{tempo_instituicao}}">
            </div>


        </div><br>
</div><br>

<div class="wrapper">
    <div class="referencia">
        <div class="inputfield">
            <label for="nome">Ref. 
            </label>
            <input type="text" disabled value="{{nome_completo}}" name="nomecompleto">
        </div>

        <div class="inputfield">
            <label for="nome">Numero:
            </label>
            <input type="text" disabled name="nomecompleto" value="{{number_id}}">
        </div>
    </div>
    <hr>
    <div class="aprovacoes">
        <div class=" participante">
            <div class="title-assinatura">
                <p>ASSINATURA DO DO PARTICIPANTE</p>
            </div>
            <div class="termo">
                Eu me comprometo a participar de todas as atividades da COMEJACA e aceito seguir regulamento
                conforme
                descrito nas normas de ação e no plano geral do evento.<br><br>
                <div class="assinaturas-title">
                    <div class="assinatura-column">
                        <div class="assinatura-nome">
                            Assinatura do Participante </div>

                    </div>


                    <div class="assinatura-column">
                        <div class="assinatura-nome">
                            Data </div>

                    </div>
                </div>
            </div>
            <div class="title-assinatura">
                <p>INSTITUIÇÃO ESPÍRITA</p>
            </div><br>
            <div class="acordo">
                <div id="instituicao-espirita">
                    Declaro que o participante acima está de acordo com os critérios estabelecidos no
                    Plano Geral da XL
                    COMEJACA.</div><br>
                <div class="assinaturas-title">
                    <div class="assinatura-column">
                        <div class="assinatura-nome">
                            Dirigente DIJ </div>
                        <div class="assinatura-data"> Data e telefone</div>
                    </div>


                    <div class="assinatura-column">
                        <div class="assinatura-nome">
                            Presidente IE: </div>
                        <div class="assinatura-data"> Data e telefone: </div>
                    </div>
                </div><br><br>
                <div class="title-assinatura">
                    <p> DO RESPONSÁVEL PARA MENORES DE IDADE</p>
                </div><br><br>
                <div class="responsavel" style="text-align: justify;">
                    Eu __________________________ Pai / Mãe ou responsável, Portador da identidade número
                    ________________________ autorizo o menor a participar da
                    XLIII COMEJACA nos dias 30 e 31 de julho de 2022.<br><br>


                    <div class="assinaturas-title">



                        <div class="assinatura-nome">
                            Assinatura do responsável </div>

                    </div><br><br>




                </div>
                <button value="Imprimir"
                    style="width:250px; height: 75px; font-weight: bold;border-radius: 5px;font-size: 25px; background: #A9A9A9	"
                    onClick="window.print()">IMPRIMIR</button>
            </div>
        </div>

        <script>

        </script>

        </body>

</html>